.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #131313;
}

.header__logo-image {
  width: 78.45px;
  height: 15.43px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.header__menu-list-item-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__menu-list-item-link-active {
  border-bottom: 0;
}

.cover {
  background-image: url(../images/cover.svg);
  background-position: bottom right;
  background-size: 94% auto;
  background-repeat: no-repeat;
  background-color: #131313;
}

.cover__title{
  padding: 9px 24px 4px 20px;
  display: flex;
  flex-direction: column;
  font-family: Ebgaramond;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
}

.text-center {
  align-self: center;
}
.text-right {
  align-self: end;
}

.intro {
  padding: 30px 20px 38px;
  background-color: #131313;
}
.intro__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 120%;
  color: #ccc;
  font-size: 16px;
  font-weight: 400;
}

.intro__header-date {
  white-space: nowrap;
}

.intro__main-text {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 135%;
}

.reasons {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-content {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.section-content-bright {
  background-color: #fee42a;
  color: #131313;
}

.section-content-dark {
  background: #131313;
}

.section-content__subtitle {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-family: Ebgaramond;
  font-size: 28px;
  line-height: 115%;
}

.section-content__introduction {
  font-size: 20px;
  line-height: 135%;
}

.reasons-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 17px;
}

.reasons-list-item {
  font-size: 16px;
  line-height: 135%;
}

.reasons-list-accent {
  font-weight: 700;
}

.how-to {
  padding-top: 40px;
  padding-bottom: 58px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.card {
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-theme-dark {
  background: #343434;
  color: #f5f5f5;
}

.card-theme-bright {
  background: #fee42a;
  color: #131313;
}

.card-image {
  width: 100px;
  height: 100px;
}

.description-image {
  font-weight: 700;
  font-size: 16px;
  line-height: 135%;
}

.card-title {
  font-family: Ebgaramond;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}

.card-text {
  font-size: 16px;
  line-height: 135%;
}

.footer {
  padding: 20px;
  background-color: #131313;
  border-top: 1px solid #FEE42A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copy {
  font-size: 16px;
  line-height: 135%;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer__links-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 125%;
  color: #f5f5f5;
}